<script src="http://izee.ro/market/mywall/one-plus/js/main.min.js"></script>
<header>
    <!-- Menu Navigation -->
    <div id="top" class="container">
        <!-- Menu left -->
       <img src="assets/mhalong_logo_light_sm.png" style="float: left;"/>
        <!-- // Menu left -->

        <!-- Menu right - Hidden in small devices -->
        <div class="nav-extra hidden-xs">

            <!-- Button 'Hire me' -->
            <a class="hireme button-mywall" data-scroll=""  href="/">HOME</a>
            <a class="hireme button-mywall" data-scroll=""  href="https://blog.mhalong.com">BLOG</a>
            <a class="hireme button-mywall" data-scroll=""  href="#">ABOUT ME</a>
        </div>
        <!-- // Menu right -->
    </div>
    <!-- // Menu Navigation -->

    <!-- Personal Details -->
    <div class="container">
        <img class="img-circle imgsus" alt="Andrey Marin" src="https://graph.facebook.com/804089789615716/picture?width=250&height=250">
        <h1 class="name-boss">Passakon Puttasuwan</h1>
        <h2 class="main-details">Little Developer & Programmer</h2>
        <p class="extend-details">"คุณไม่ได้ไม่เก่ง คุณแค่ไม่ฝึก"</p>
    </div>
    <!-- // Personal Details -->
</header>
